<template>
  <div class="fixed-center text-center">
    <p>
      <img src="~assets/sad.svg" />
    </p>
    <p class="text-faded">Sorry, nothing here...<strong>(404)</strong></p>
    <q-btn color="secondary" to="/" label="Go back" />
  </div>
</template>

<script>
export default {
  name: "Error404"
};
</script>
<style lang="scss" scoped>
img {
  width: 30vw;
  max-width: 150px;
}
q-btn {
  width: 200px;
}
</style>
