<template>
  <q-page class="q-pa-md">
    <q-table
      :grid="table_type"
      title="Products"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :loading="loading"
      :filter="filter"
      @request="onRequest"
    >
      <template v-slot:top-right>
        <div class="flex items-center">
          <q-btn
            :outline="table_type"
            @click="table_type = false"
            color="primary"
          >
            <q-icon name="view_list" />
          </q-btn>
          <q-separator class="q-mx-sm" />
          <q-btn
            :outline="!table_type"
            @click="table_type = true"
            color="primary"
          >
            <q-icon name="view_module" />
          </q-btn>
          <q-separator class="q-mx-sm" />
          <q-input
            borderless
            dense
            debounce="300"
            filled
            v-model="filter"
            placeholder="Search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          <q-separator class="q-mx-md" />
          <q-btn
            outline
            color="primary"
            @click="product_action = true"
            label="Add new"
          />
        </div>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="id" :props="props"> #{{ props.row.id }} </q-td>
          <q-td key="name" :props="props">
            {{ props.row.name_uz }}
          </q-td>
          <q-td key="price" :props="props">
            {{ props.row.cost }}
          </q-td>
          <q-td key="product_type_id" :props="props">
            {{ props.row.product_type_id }}
          </q-td>
          <q-td key="address" :props="props">
            {{ props.row.address }}
          </q-td>
          <q-td key="created_date" :props="props">
            {{ new Date(props.row.created_date).toLocaleDateString("en-US") }}
          </q-td>
          <q-td key="action" :props="props">
            <q-btn-dropdown outline color="primary">
              <q-list>
                <q-item
                  @click="(product_data = props.row), (product_action = true)"
                  clickable
                  v-close-popup
                >
                  <q-item-section>
                    <q-item-label>Update</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  @click="(id = props.row.id), (confirm = true)"
                >
                  <q-item-section>
                    <q-item-label>Delete</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="warning" text-color="white" />
          <span class="q-ml-sm">Are you sure to delete this product ?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Submit"
            color="primary"
            @click="deleteProduct()"
            v-close-popup
          />
          <q-btn
            flat
            label="Cancel"
            color="primary"
            @click="id = null"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <add-product
      :confirm="product_action"
      :data="product_data"
      @close="closeModal()"
    ></add-product>
  </q-page>
</template>
<script>
import addProduct from "../components/addProduct.vue";
export default {
  components: { addProduct },
  data() {
    return {
      table_type: false,
      product_action: false,
      product_data: null,
      loading: false,
      confirm: false,
      filter: "",
      id: null,
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 99,
      },
      columns: [
        {
          name: "id",
          required: true,
          label: "ID",
          align: "left",
          field: "id",
        },
        {
          name: "name",
          align: "center",
          label: "Name",
          field: "name_uz",
        },
        { name: "price", align: "left", label: "Price", field: "cost" },
        {
          name: "product_type_id",
          align: "center",
          label: "Product Type ID",
          field: "product_type_id",
        },
        {
          name: "address",
          label: "Adress",
          field: "address",
        },
        {
          name: "created_date",
          label: "Created date",
          field: (row) => row.created_date,
          format: (val) => `${new Date(val).toLocaleDateString("en-US")}`,
        },
        {
          name: "action",
          label: "Action",
          field: "action",
        },
      ],
    };
  },
  mounted() {
    this.fetchFromServer();
  },
  computed: {
    data() {
      return this.$store.state.product.products;
    },
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination;
      this.$router.push({
        path: "",
        query: {
          page,
          perPage: rowsPerPage,
          search: this.filter || undefined,
        },
      });
      this.fetchFromServer();
    },
    fetchFromServer() {
      this.loading = true;
      const params = {
        page: this.$route.query.page || 1,
        perPage: this.$route.query.perPage || 15,
        search: this.$route.query.search,
      };
      if (this.$route.query.page) {
        this.pagination.page = this.$route.query.page;
        this.pagination.rowsPerPage = this.$route.query.perPage;
      }
      this.$store.dispatch("product/getProducts", params).then(() => {
        this.loading = false;
        if (this.data.length !== parseInt(this.pagination.rowsPerPage)) {
          this.pagination.rowsNumber =
            this.pagination.page * this.pagination.rowsPerPage -
            (this.pagination.rowsPerPage - this.data.length);
        }
      });
    },
    deleteProduct() {
      this.$store
        .dispatch("product/removeProduct", this.id)
        .then(() => this.fetchFromServer());
    },
    closeModal() {
      this.product_data = null;
      this.product_action = false;
      this.fetchFromServer();
    },
  },
};
</script>
