<template>
  <div>
    <q-dialog v-model="confirm" persistent>
      <q-card style="width: 700px; max-width: 80vw">
        <q-card-section>
          <h5 class="q-my-xs">{{ data ? "Update" : "Add new" }} product</h5>
          <q-input
            class="q-mt-lg"
            ref="name"
            filled
            v-model="name"
            :rules="[(val) => (val && val.length > 0) || 'Please type name']"
            label="Product name"
          />
          <q-select
            class="q-mt-md"
            filled
            v-model="type"
            clearable
            :options="product_types"
            label="Product type"
          >
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
                @click="type = scope.opt"
              >
                <q-item-section>
                  <q-item-label caption>{{ scope.opt.name_uz }}</q-item-label>
                </q-item-section>
              </q-item>
            </template>
            <template v-slot:selected-item="scope">
              {{ type.name_uz || scope.opt.name_uz }}
            </template>
          </q-select>
          <q-input
            ref="cost"
            class="q-mt-md"
            :rules="[(val) => val !== '' || 'Please type cost']"
            filled
            type="number"
            v-model="cost"
            label="Price"
          />
          <q-input
            ref="address"
            class="q-mt-md"
            filled
            v-model="address"
            label="Address"
            :rules="[(val) => (val && val.length > 0) || 'Please type address']"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Submit" color="primary" @click="Submit()" />
          <q-btn
            flat
            label="Cancel"
            @click="$emit('close')"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  props: ["confirm", "data"],
  data() {
    return {
      name: "",
      type: null,
      cost: "",
      address: "",
      id: null,
    };
  },
  computed: {
    product_types() {
      return this.$store.state.product.product_types;
    },
  },
  watch: {
    data(val) {
      if (val) {
        this.id = val.id;
        this.name = val.name_uz;
        this.address = val.address;
        this.cost = val.cost;
        this.type = this.product_types.filter(
          (x) => x.id === val.product_type_id
        )[0];
      }
    },
  },
  mounted() {
    this.$store.dispatch("product/getProductTypes");
  },
  methods: {
    Submit() {
      this.$refs.name.validate();
      this.$refs.cost.validate();
      this.$refs.address.validate();
      if (
        !this.$refs.name.hasError &&
        !this.$refs.cost.hasError &&
        !this.$refs.address.hasError &&
        this.type
      ) {
        const data = {
          id: this.id,
          product_type_id: this.type.id,
          name_uz: this.name,
          cost: this.cost,
          address: this.address,
          created_date: new Date(),
        };
        if (this.data) {
          this.$store.dispatch("product/updateProduct", data).then(() => {
            this.$emit("close");
            this.resetFields();
          });
        } else {
          delete data.id;
          this.$store.dispatch("product/createProduct", data).then(() => {
            this.$emit("close");
            this.resetFields();
          });
        }
      }
    },
    resetFields() {
      this.name = "";
      this.type = null;
      this.cost = "";
      this.address = "";
      this.id = null;
      this.$refs.name.resetValidation();
      this.$refs.cost.resetValidation();
      this.$refs.address.resetValidation();
    },
  },
};
</script>
